{% extends "templates/base_notification.jinja" %}

{% block HOST_EMAIL %}

<tr>
  <th class=even>Host State:</th>
  <td class=even>{{ HostState }}</td>
</tr>

<tr>
  <th class=even>Host Output:</th>
  <td class=even>{{ HostOutput }}</td>
</tr>

<tr>
  <th class=even>Host Data:</th>
  <td class=even>{{ HostData }}</td>
</tr>
<!--
<tr>
  <th class=odd>Ack Comment:</th>
  <td class=odd>{{ HostAckComment }}</td>
</tr>

<tr>
  <th class=odd>Ack Author:</th>
  <td class=odd>{{ HostAckAuthor }}</td>
</tr>
    -->    

{% endblock %}
